<style>
  .icon{
    display: block;
    margin: 0 auto;
  }
</style>
<ion-header>
  <ion-toolbar color="danger">
    <ion-img class="icon" style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/512/287/287221.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button *ngFor="let mon of pokemon; let i=index;" [routerLink]="[mon.Index]">
      <ion-thumbnail slot="start">
        <img [src]="mon.image">
      </ion-thumbnail>
      <ion-label class="ion-text-capitalize">{{mon.name}}
        <p>#{{mon.Index}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadPokemon(true,$event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Load Pokemon"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>